.footer{
    width: 100%;
    border: none;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 1);
    background: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    justify-content: center;
    border-radius: 0px;
    background: #ffffff;
}

.footer-logo{
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-logo p{
    font-size: 46px;
    color: #383838;
    font-weight: 700;
}

.footer-menu{
    display: flex;
    gap: 50px;
    list-style: none;
    color: #252525;
    font-size: 20px;
}

.footer-menu li{
    cursor: pointer;
}

.footer-social{
    display: flex;
    gap: 20px;
}

.footer-social-icon-container{
    padding: 10px;
    background: #fbfbfb;
    padding-bottom: 6px;
    border: 1px solid #e3e3e3;
}

.footer-copyrights{
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
    color: #1a1a1a;
    font-size: 20px; 
}

.footer-copyrights hr{
    width: 80%;
    border: none;
    height: 3px;
    border-radius: 10px;
    font-size: 16px;
    background: #583003;
}
